[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .tox,
    .mypy_cache,
    .pytest_cache
ignore = 
    E203,  # whitespace before ':'
    E266,  # too many leading '#' for block comment
    W503,  # line break before binary operator
    F403,  # 'from module import *' used
    F401   # imported but unused
per-file-ignores = 
    __init__.py:F401
max-complexity = 10